*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.header{
    background-color: #fff8f3;
    background-image: url(../images/round\ shape.png),url(../images/Developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, left;
    background-size: 50%,20%;
}
.text-primary{
    color: orange;
}
.btn-primary{
    color: rgb(255, 255, 255);
    font-weight: 700;
    font-size: 20px;
    height:64;
    border-radius: 5;
    padding: 18px 35px;
    background-color: orange;
    border: 0;
}
/* header and navigation style */
nav{
    display: flex;
    justify-content:space-between;
    margin:50px 200px;
}

nav li{
    list-style-type:none;
    margin: 30px;
}

nav ul {
    display: flex;
    align-items: center;
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
.banner{
    display: flex;
    align-items: center;
    margin: 0 200px;
}
.banner-sub-title{
    font-weight:600px;
    font-size: 45px;
    margin-bottom: 20px;
}
.banner-title{
    font-weight: 700;
    font-size: 85px;
}
.banner-description{
    color: rgb(74, 82, 91);
    font-size: 18px;
    margin-bottom: 30px;
}
/* main image */
.main-img{
    margin-left: 650px;
}

/* main section */
.main{
    max-width: 1140px;
    margin: 0 auto;
}

/* about section style */
.about{
    margin-top: 130px;
    background-color: #fff8f3;
    border-radius: 10px;
    padding: 130px 150px;
}

.section-title{
    text-align: center;
    margin-bottom: 30px;
}

.section-description{
    color: #757575;
    font-size: 18px; 
    margin-bottom: 30px;  
}